### Question 1
What's the version of NumPy that you installed?

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.21.5'

#### Importing the dataset

In [3]:
data = pd.read_csv("data.csv")

In [4]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Question 2
How many records are in the dataset?

In [5]:
data.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

### Question 3
Who are the most frequent car manufacturers (top 3) according to the dataset?

In [6]:
data.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

### Question 4
What's the number of unique Audi car models in the dataset?

In [7]:
data[
    data['Make'] == 'Audi'
].nunique()

Make                   1
Model                 34
Year                  20
Engine Fuel Type       5
Engine HP             40
Engine Cylinders       6
Transmission Type      3
Driven_Wheels          2
Number of Doors        2
Market Category       15
Vehicle Size           3
Vehicle Style          6
highway MPG           23
city mpg              18
Popularity             1
MSRP                 234
dtype: int64

### Question 5
How many columns in the dataset have missing values?

In [8]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Question 6

(a) Find the median value of 'Engine Cylinders' column in the dataset

In [9]:
data['Engine Cylinders'].median()

6.0

(b) Next, calculate the most frequent value of the same 'Engine Cylinders'

In [10]:
most_frequent_value = float(data['Engine Cylinders'].mode())

In [11]:
most_frequent_value

4.0

(c) Use the fillna method to fill the missing values in 'Engine Cylinders' with the most frequent value from the previous step

In [12]:
data['Engine Cylinders'] = data['Engine Cylinders'].fillna(most_frequent_value)

In [13]:
data['Engine Cylinders'].isnull().sum()

0

(d) Now, calculate the median value of "Engine Cylinders" once again

In [14]:
data['Engine Cylinders'].median()

6.0

### Question 7

(a) Select all the "Lotus" cars from the dataset

In [15]:
lotus_cars = data[
    data.Make == "Lotus"
]

(b) Select only columns "Engine HP", "Engine Cylinders"

In [16]:
lotus_cars = lotus_cars[
    ['Engine HP', 'Engine Cylinders']
]

(c) Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows)

In [17]:
lotus_cars = lotus_cars.drop_duplicates()

(d) Get the underlying NumPy array. Let's call it X

In [18]:
X = lotus_cars.values

(e) Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX

In [19]:
X_transpose = X.T
XTX = X_transpose.dot(X)

(f) Compute the inverse of XTX

In [20]:
XTX_inverse = np.linalg.inv(XTX)

(g) Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [21]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

(h) Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w

In [22]:
b = XTX_inverse.dot(X_transpose)

In [23]:
w = b.dot(y)

In [24]:
w

array([  4.59494481, -63.56432501])